[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
autopep8 = "*"

[packages]
flask = "*"
line-bot-sdk = "*"
sqlalchemy = "*"
flask-sqlalchemy = "*"
flask-migrate = "*"
pymysql = "*"
mysqlclient = "*"
pandas = "*"
xlrd = "*"
numpy = "*"

[requires]
python_version = "3.6"
